In [3]:
import pandas as pd

In [4]:
start_date_deposits = pd.Series ({
    '7/4/2014': 50000,
    '8/4/2014': 51000,
    '9/4/2014': 52000,
    '10/4/2014': 53000,
    '11/4/2014': 54000,
    '12/4/2014': 55000,
    '13/4/2014': 56000,
    '14/4/2014': 57000,
    '15/4/2014': 58000,
    '16/4/2014': 59000,
    '17/4/2014': 60000,
    '18/4/2014': 61000,
    '19/4/2014': 62000,
    '20/4/2014': 63000
})

In [5]:
start_date_deposits

7/4/2014     50000
8/4/2014     51000
9/4/2014     52000
10/4/2014    53000
11/4/2014    54000
12/4/2014    55000
13/4/2014    56000
14/4/2014    57000
15/4/2014    58000
16/4/2014    59000
17/4/2014    60000
18/4/2014    61000
19/4/2014    62000
20/4/2014    63000
dtype: int64

In [6]:
start_date_deposits.sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 7/4/2014     50000
8/4/2014     51000
9/4/2014     52000
10/4/2014    53000
11/4/2014    54000
12/4/2014    55000
13/4/2014    56000
14/4/2014    57000
15/4/2014    58000
16/4/2014    59000
17/4/2014    60000
18/4/2014    61000
19/4/2014    62000
20/4/2014    63000
dtype: int64>

In [7]:
start_date_deposits.sum()

791000

In [8]:
start_date_deposits.min()

50000

In [9]:
start_date_deposits.max()

63000

In [10]:
start_date_deposits.idxmax()

'20/4/2014'

In [11]:
start_date_deposits.idxmin()

'7/4/2014'

In [12]:
start_date_deposits.head()

7/4/2014     50000
8/4/2014     51000
9/4/2014     52000
10/4/2014    53000
11/4/2014    54000
dtype: int64

In [13]:
start_date_deposits.tail()

16/4/2014    59000
17/4/2014    60000
18/4/2014    61000
19/4/2014    62000
20/4/2014    63000
dtype: int64

In [14]:
start_date_deposits.head(3)

7/4/2014    50000
8/4/2014    51000
9/4/2014    52000
dtype: int64

In [15]:
start_date_deposits.head(10)

7/4/2014     50000
8/4/2014     51000
9/4/2014     52000
10/4/2014    53000
11/4/2014    54000
12/4/2014    55000
13/4/2014    56000
14/4/2014    57000
15/4/2014    58000
16/4/2014    59000
dtype: int64

In [16]:
numbers = pd.Series([15, 1000, 23, 45, 444])

In [17]:
numbers

0      15
1    1000
2      23
3      45
4     444
dtype: int64

In [18]:
numbers.sort_values()

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [19]:
numbers.sort_values(ascending=True)

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [20]:
numbers.sort_values(ascending=False)

1    1000
4     444
3      45
2      23
0      15
dtype: int64

In [28]:
data = pd.read_csv('Location.csv')

location_series = data['Location']
squeezed_data = data.squeeze()

In [31]:
squeezed_data.head()

0     Location 3
1     Location 6
2     Location 8
3    Location 26
4    Location 34
Name: Location, dtype: object

In [33]:
squeezed_data.sort_values()

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [34]:
squeezed_data.sort_values(ascending= True)

637     Location 1
884     Location 1
465     Location 1
716    Location 10
623    Location 10
          ...
482    Location 97
128    Location 97
669    Location 97
757    Location 98
372    Location 99
Name: Location, Length: 1043, dtype: object

In [35]:
squeezed_data.sort_values(ascending=False)

372    Location 99
757    Location 98
128    Location 97
482    Location 97
271    Location 97
          ...
202    Location 10
298    Location 10
637     Location 1
884     Location 1
465     Location 1
Name: Location, Length: 1043, dtype: object

In [50]:
data = { 'Amy White' : [50 , 5], 'Jack Stewart' : [53, 8]

}

df = pd.DataFrame.from_dict(data, orient='index', columns=[ 'Age', 'Work Experience(Yrs)'])
df.index.name = 'Name'
df.reset_index(inplace=True)

print(df)

           Name  Age  Work Experience(Yrs)
0     Amy White   50                     5
1  Jack Stewart   53                     8

In [46]:
df

           Name   Salary
0     Amy White  [50, 5]
1  Jack Stewart  [53, 8]

In [52]:
data = [['Amy White', 50, 5], ['Jack Stewart', 53, 8],
        ['Richard Lauderdale', 35, 3], ['Sara Johnson', 43, 10]
        ]

df = pd.DataFrame(data, columns=["Name", "Age", "Working Experience (Yrs)"])

print(df)

                 Name  Age  Working Experience (Yrs)
0           Amy White   50                         5
1        Jack Stewart   53                         8
2  Richard Lauderdale   35                         3
3        Sara Johnson   43                        10